<h3>This is the news view.</h3>

<div class='row'>
	<div class='col-md-6'>
		<input ng-model="query.title" class='form-control' placeholder='Search article titles'>
	</div>
	<div class='col-md-6'>
		<input ng-model="query.summary" class='form-control' placeholder='Search content'>
	</div>
</div>
<br>
<div class='row'>
	<div class='col-md-12'>
		<div ng-repeat="article in articles | filter:query" >

			<a href="{{ article.source_url }}">{{ article.title }}</a>
			<p>{{ article.summary }}</p>

		</div>
	</div>
</div>