<h3>This is the news view.</h3>

<div class='row'>
	<div class='col-md-6'>
		<input ng-model="query.title" class='form-control' placeholder='Search article titles'>
	</div>
	<div class='col-md-6'>
		<input ng-model="query.summary" class='form-control' placeholder='Search content'>
	</div>
</div>
<br>
<div class='row'>
	<div class='col-md-12'>
		<div ng-repeat="article in articles | filter:query" >

			<div class='row'>
				<p>
					<a href="{{ article.url | url }}" class='col-md-9' target="_blank">{{ article.title }}</a>
					<span class="btn btn-sm btn-default pull-right">{{ article.source }}</span>
				</p>
			</div>
			<p>Posted {{ article.publish_date | date:'shortDate' }}</p>
			<p>{{ article.summary }}</p>

		</div>
	</div>
</div>