<h3>This is the recently released Drug Label view.<span class="small text-muted"> (con Restangular)</span></h3>
<div class="alert alert-warning">
    <span>Last clicked id is {{ nda }}</span>
</div>
<div class='row'>
    <div class='col-md-6'>
        <input ng-model="query.title" class='form-control' placeholder='Search article titles'>
    </div>
    <div class='col-md-6'>
        <input ng-model="query.summary" class='form-control' placeholder='Search content'>
    </div>
</div>
<br>
<div class='row'>
    <div class='col-md-12'>
        <div ng-repeat="item in items | filter:query">

            <span class="panel-title">{{ item.title | lowercase}} - {{ item.published_date }}</span>

            <p>
                <span class="text-muted">Document setId: {{ item.setid }}</span>

                <span class="text-muted">
                    <span class="strong"> | </span>Application Number:

                    <span class="badge" ng-if="item.application_number !== undefined">
                        {{ item.application_number }}
                    </span>
                    <button class="btn btn-primary btn-xs" ng-click="getApplication(item)"
                            ng-if="item.application_number === undefined">Load NDA
                    </button>
                </span>
            </p>

            <p>
                <span class="text-capitalize">
                    <span>


                    </span>

                </span>
            </p>
        </div>
    </div>
</div>