<h3>This is the news view.</h3>

<div class='row'>
	<div class='col-md-6'>
		<input ng-model="query.title" class='form-control' placeholder='Search article titles'>
	</div>
	<div class='col-md-6'>
		<input ng-model="query.summary" class='form-control' placeholder='Search content'>
	</div>
</div>
<br>
<div class='row'>
	<div class='col-md-12'>
		<div ng-repeat="item in items | filter:query" >

			<a href="{{ item.spl_id }}">{{ item.title }}</a>
			<p>{{ item.published_date }}</p>

		</div>
	</div>
</div>